<div class='row'>
  <div class="well">
    <div class='col-sm-1'>
        <p><%=number_to_currency(bid.price)%></p>
    </div>
    <div class='col-sm-1'>
      <center>
        <p> | </p>
      </center>
    </div>
    <div class='col-sm-4'>
      <p>Creator: <%= bid.user.name%></p>
    </div>
    <div class='row'>
      <div class='col-sm-6'>
        <p>on: &nbsp;&nbsp;<%=bid.created_at.strftime('%m/%d/%Y')%></p>
      </div>
    </div>
  </div>
</div>
