<%= simple_form_for ([@auction, @newbid]) do |f| %>
  <div class='form-group'>
    <div class='row'>
      <div class='col-sm-4'>
        <div class='input-group'>
          <%= f.input :price %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class='input-group-btn'>
          <%= f.submit 'Bid', class: 'btn btn-primary btn-sm'%>
        </div>
      </div>
    </div>
  </div>
<%end%>
