<div class='row'>
  <div class='col-sm-4'>
    <h1>My Bids</h1>
    <h5>By <%= current_user.name %></h5>
    <p>
      <% @user.auctions.each do |auction| %>
          <p><%= link_to auction.title, auction_path(auction) %></p>
      <% end %>
    </p>
  </div>

<% console %>

</div>
